.ipynb_checkpoints
/nbs/.ipynb_checkpoints
.DS_Store
**/.DS_Store
data/*
tb_logs/*
!tb_logs/.placeholder
tacotron/data/*
!tacotro/data/.placeholder
tacotron/logdir_s/*
tacotron/samples_s/*
tacotron/*.pyc
tacotron/logdir/*
tacotron/samples/*
tacotron/logdir_gan/*
tacotrons/samples_gan/*
