.ipynb_checkpoints
/SEGAN/.ipynb_checkpoints
.DS_Store
**/.DS_Store
data/*
tb_logs/*
!tb_logs/.placeholder
Tacotron_GAN/data/*
!Tacotron_GAN/data/.placeholder
Tacotron_GAN/logdir_s/*
Tacotron_GAN/samples_s/*
Tacotron_GAN/*.pyc
Tacotron_GAN/logdir/*
Tacotron_GAN/samples/*
Tacotron_GAN/logdir_gan/*
Tacotron_GAN/samples_gan/*
Tacotron_GAN/timeline/*
!Tacotron_GAN/timeline/.placeholder
